<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MTNCMWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <webServices>
      <soapExtensionTypes>
        <add type="MTNCMWeb.TraceExtension, MTNCMWeb" priority="1" group="High"/>
      </soapExtensionTypes>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="SyncOrderEntities" connectionString="metadata=res://*/SyncOrderData.csdl|res://*/SyncOrderData.ssdl|res://*/SyncOrderData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=CMSubscriptions;persist security info=True;user id=sa;password=12345@abcde;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TimeFormat" value="yyyyMMddHHmmss"/>
    <add key="SPID" value="2370110000819"/>
    <add key="Password" value="Huawei123"/>
    <add key="tSPID" value="2370110000819"/>
    <add key="tPassword" value="Huawei123"/>
    <add key="TestMode" value="0"/>
    <add key="Accesscode" value="8702"/>
    <add key="TestAccesscode" value="8702"/>
    <add key="serviceId"  value="237012000004652"/>
    <add key="FileLog" value="ErrorLog" />


    <add key="SendSMSAPIURL" value="http://{0}:8310/SendSmsService/services/SendSms"/>
    <add key="NotificationAPIURL" value="http://{0}:8310/SmsNotificationManagerService/services/SmsNotificationManager"/>
    <add key="ChargingURL" value="http://{0}:8310/AmountChargingService/services/AmountCharging"/>

    <add key="NotificationCONSURL" value="http://72.3.170.204:80/MTNCMWeb/NotifyConsent.asmx"/>
    <add key="NotificationStatus" value="http://72.3.170.204:80/MTNCMWeb/NotifyDeliveryStatus.asmx"/>

    <add key="TestIP" value="41.206.4.219"/>
    <add key="LiveIP" value="41.206.4.162"/>

  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataSyncSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://72.3.170.204:80/MTNCMLive/DataSync.asmx"
        binding="basicHttpBinding" bindingConfiguration="DataSyncSoap"
        contract="DSync.DataSyncSoap" name="DataSyncSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <MTNCMWeb.Properties.Settings>
      <setting name="MTNCMWeb_SVC_SendSmsService" serializeAs="String">
        <value>http://{0}:8310/SendSmsService/services/SendSms</value>
      </setting>
    </MTNCMWeb.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="DataSync.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>